# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh

# Auto generated
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# Android
# =========================
android/.gradle/
android/app/build/
android/build/

# =========================
# iOS / Xcode
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

# Xcode build + user data
DerivedData/
ios/DerivedData/
ios/.derivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.mode1v3
*.pbxuser

# CocoaPods
Pods/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml
*.ipr
*.iws

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / misc
# =========================
*.log
*.lock
*.swp

# =========================
# Misc Flutter artifacts
# =========================
*.symbols
*.map.json