<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912364213375-ss5k5236r9m9roe5ai3s40su2kag3m1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912364213375-ss5k5236r9m9roe5ai3s40su2kag3m1c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>912364213375-1an014i4cbgjrj0obfmsv8fg2ukklhei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChHGzYofdgILci5bPdCpFMBclhbESBwT0</string>
	<key>GCM_SENDER_ID</key>
	<string>912364213375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sjbdigital.app</string>
	<key>PROJECT_ID</key>
	<string>dsspa-73a47</string>
	<key>STORAGE_BUCKET</key>
	<string>dsspa-73a47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912364213375:ios:54c08693da5a2a7b8f5b4a</string>
	<key>DATABASE_URL</key>
	<string>https://dsspa-73a47-default-rtdb.firebaseio.com</string>
</dict>
</plist>